.container {
    max-width: 50%;
    align-items: center;
    text-align: center;
    margin-left: auto; margin-right: auto;

}

.form{
    margin-left: auto; margin-right: auro;
    display: grid;
    grid-template-columns: 35% 35% 20%;
    grid-gap: 5%;
    margin-top: 2rem;
}

.item {
    background-color: white;
}
.item label {
    height: 1rem;
}

.item select {
    width: 10rem;
    height: 2rem;
}
.item button {
    width: 10rem;
    height: 2rem;
    background-color: white;
    border-radius: .2rem;
    border-width: .5px;
    cursor: pointer;
}

/* Smartphones (portrait and landscape) ----------- */
@media (min-device-width : 0) and (max-device-width : 480px) {
    .container {
        max-width: 100%;
    }
    .form {
        display: block;
        margin-top: .7rem;
    }
    .item select {
        width: 5rem;
        height: 1rem;
    }
    .item button {
        width: 5rem;
        height: 1rem;
    }
}