.item {
    margin-bottom: 2rem;
    background-color:beige;
    margin-left: auto;
    margin-right: auto
}
.image {
    width: 642px;
    height: 400px;
}

.title {
    font-size: larger;
    margin: 1rem;
}
.desc {
    font-size: medium;
    color: grey;
    margin: 1rem;
}

/* Smartphones (portrait and landscape) ----------- */
@media (min-device-width : 0) and (max-device-width : 480px) {
    .item {
        font-size: .9rem;
    }
    .desc {
        font-size: .9rem;
    }

}