.tab {
    margin-left: auto;
    margin-right: auto;
}

.tab td {
    text-align: left;
    padding: .5rem 2vw;
}

.tourDate{
    background-color:antiquewhite;
}

.story {
    margin-top: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}
.story::first-letter {
    font-size: 200%;
    color: maroon;
    font-family: Brush Script MT;
}