.home {
    /* background-color: aqua; */
    align-items: center;
    text-align: center;
    width: 55%;
    margin-left: auto; margin-right: auto;
    margin-bottom: 1rem;
}

.intro {
    font-size: 1.2rem;
    display: flex;
    margin: 0;
    padding: 0;
}

.intro  p::first-letter {
    font-size: 200%;
    color: maroon;
    font-family: Brush Script MT;
} 

/* Smartphones (portrait and landscape) ----------- */
@media (min-device-width : 0) and (max-device-width : 480px) {
    .Home {
        /* background-color: antiquewhite; */
        width: 95%;
    }
    .home h2 {
        font-size: .9rem;
    }

    .intro {
        font-size: .7rem;
    }
}
